@import "tailwindcss";
@plugin "daisyui"{
  themes: coffee, retro, dark --default;
}

body {
  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
 
}

.App{
  position: relative;
  overflow-x: hidden;
}



 
